body {
    background-color: $background;
    color: $font-color;
}

a {
    color: $action;
    &:not([href]) {
        color: $font-color;
    }
}

table {
    border-color: $outline;
}

select {
    font-family: $font-family;
    border-color: $outline;
    background-color: $background;
    color: $font-color;
}

input {
    font-family: $font-family;
}

h2 {
    @include seperator;
}

body,
table,
li,
td {
    font-family: $font-family;
}

//overwritw pda
body {
    padding: 0 0.3em !important;
}

img {
    max-width: 100%;
}
