.stats {
    text-align: center;
    @include seperator;
    border-top: $border;
}
//overwrite pda
.copyright.bannercolors {
    background-color: $background;
    color: $font-color;
    border-top: $border;
}