//:firstchild to overwrite pda
.sitestyle:first-child {
    background-color: $background;
    @include seperator;
    a:link, a:visited {
        color: $action;
    }
}
#sitemaxrating {
    color: $font-color;
    background-color: $background;
}
#sitebanner {
    border: none;
    @include seperator;
    td[style] {
        border: none !important;
    }
}
.announcement {
    border: none;

    font-weight: bold;
    @include seperator;
}
#mainmenudiv {
    @include seperator;
    li {
        padding: 6px;
    }
}
ul.nav li.sfHover ul {
    background-color: $background !important;
    border: $border;
}
.admincolors {
    @include seperator;
}