.trackread {
    background-color: $background-brighter;
}

.trackunread, .tracknew {
    background-color: $background-darker;
    border: solid 2px $action;
    padding: .25em;
    margin: .25em;
    margin-bottom: .5em;
}

.dropmenubody {
    background-color: $background;
    border: $border;
}

// fix dropdown button growing over content size
.dropmenubutton {
    &::after {
        position: absolute;
        content: "&#8203;";
    }
}

