#chapnav {
    //1.6 = navpadding + bodypadding
    max-width: calc(100vw - 1.6em);
}
.verticaltable {
    th,
    td {
        border: $border;
    }
}
.storybody {
    @include seperator;
    // break long text if necessary
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.tabsbelow {
    @include seperator;
}
div.tabbarbottom {
    margin-top: 0.5em;
    .tinner {
        padding-bottom: 0;
    }
}
.nominations {
    //remove unnecessary margins, bring top-margin in line with other margins
    margin: 0;
    margin-top: 1em;
}
